<mat-card class="hideOnMobile">
  <mat-card-header>
    <mat-card-title>Controllers</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="width: 600px">
      A controller in this system is programmable and can function as a switch, time switch, or threshold switch based
      on sensor data.
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div *ngIf="loading; else showx">loading...</div>
    <ng-template #showx>
      <app-controller-table></app-controller-table>
    </ng-template>
  </mat-card-content>
</mat-card>

<div class="backgroundImage hideOnDesktop" style="overflow-y: auto">
  <mat-toolbar>Controllers</mat-toolbar>
  <div fxLayoutAlign="center" style="padding-top: 20px">
    <mat-spinner *ngIf="loading; else show"></mat-spinner>
  </div>
  <ng-template #show>
    <div style="padding: 20px">
      <div *ngFor="let item of citems">
        <app-controller-card [citem]="item"></app-controller-card>
      </div>
    </div>
  </ng-template>
</div>

<button
  mat-mini-fab
  color="primary"
  class="bottom-right"
  matTooltip="Add new controller"
  (click)="newControllerDialog()"
>
  <mat-icon>add</mat-icon>
</button>
