/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-header {
  font-size: 35px;
  font-weight: 200;
}
.title-text {
  font-size: 20px;
  font-weight: 200;
}
