# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.db
plan
# System Files
.DS_Store
Thumbs.db

**/client/node_modules
**/client/.angular
**/client/dist
**/resources/pg_data
**/resources/qa/ng/dist

