<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-icon>settings_input_component</mat-icon>
    </div>
    <mat-card-title>{{ device.title }}</mat-card-title>
    <mat-card-subtitle
      >Last telemetry:
      {{
        device.dataset_telemetry.String | date: "YYYY-MM-dd HH:mm:ss"
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    {{ device.description }}
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" [routerLink]="device.arduino_key">
      DETAILS
    </button>
  </mat-card-actions>
</mat-card>
