<h2 mat-dialog-title>Add new controller</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label> Category</mat-label>
    <mat-select formControlName="category">
      <mat-option value="switch">ON/OFF switch</mat-option>
      <mat-option value="thresholdswitch">Threshold switch</mat-option>
      <mat-option value="timeswitch">Time switch</mat-option>
      <mat-option value="timeswitchrepeat">Repeatable time switch</mat-option>
      <mat-option value="webcamstreamtimelapse">Webcam stream timelapse</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="flex: 1 1 auto"></div>
  <button mat-raised-button color="primary" (click)="addNewController()" [disabled]="form.invalid">
    <mat-icon>add</mat-icon>
    <span>ADD</span>
  </button>
</mat-dialog-actions>
