.wrapper {
  display: flex;
  width: 250px;
  height: 24  0px;
  // background-color: rgba(65, 159, 196, 0.433);
  background: linear-gradient(0deg, rgba(65,159,196,1) 0%, rgba(34,193,195,1) 100%);
  border-radius: 10px;
  padding: 10px;
  padding-top: 20px;
  flex-direction: column;
}


.flex-container {
  display: flex;
  width: 100%;
}
.flex-label {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.flex-middle {
  display: flex;
  width: 100%;
  text-align: center;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.flex-child {
  flex: 1;
  text-align: center;
} 
.right {
  text-align: right;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.7;
}
.left {
  opacity: 0.7;
}
.large-text {
  font-size: 38px;
  font-weight: 200;
}
.small-text {
  font-size: 12px;
  font-weight: 300;
  opacity: 0.7;
}
.high {

}

.h2 {
font-weight: 400;
}

span {
  font-size: 22px;
}