<div class="wrapper mat-elevation-z8">
  <div class="flex-container">
    <div class="flex-child left">
      <mat-icon style="font-size: 48px">query_stats</mat-icon>
    </div>
    <div class="flex-child right">
      {{ report.description }}
      <br />
      <span class="small-text">{{ title }}</span>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-child">
      <span>Low</span><br /><br />
      <span class="large-text high"> {{ report.high }} </span><br /><br /><br />
      <span class="small-text"> {{ report.high_date | date : 'short' }}</span>
    </div>
    <div class="flex-child">
      <span>High</span><br /><br />
      <span class="large-text low"> {{ report.high }} </span><br /><br /><br />
      <span class="small-text"> {{ report.high_date | date : 'short' }}</span>
    </div>
  </div>
</div>
