<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">
      <span [ngSwitch]="element.category">
        <mat-icon class="bigger-icon" *ngSwitchCase="'switch'">lightbulb</mat-icon>
        <mat-icon class="bigger-icon" *ngSwitchCase="'thresholdswitch'">data_thresholding</mat-icon>
        <mat-icon class="bigger-icon" *ngSwitchCase="'timeswitch'">schedule</mat-icon>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">
      {{ element.category }}
    </td>
  </ng-container>
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>
  <ng-container matColumnDef="switch">
    <th mat-header-cell *matHeaderCellDef>Switch state</th>
    <td mat-cell *matCellDef="let element">
      <!-- {{ element.switch }} -->
      <app-status-dot [state]="element.switch == 1 ? 'online' : 'offline'"></app-status-dot>
    </td>
  </ng-container>
  <ng-container matColumnDef="alert">
    <th mat-header-cell *matHeaderCellDef>Alert</th>
    <td mat-cell *matCellDef="let element">{{ element.alert }}</td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element" style="float: right">
      <!-- <button
        *ngIf="element.category == 'switch'"
        mat-icon-button
        color="primary"
        (click)="updateState()"
        [ngClass]="{ primary: citem.switch == 1 }"
      >
        {{ citem.switch == 1 ? 'TURN OFF' : 'TURN ON' }}
      </button> -->
      <button
        *ngIf="element.category == 'switch'"
        (click)="updateState(element)"
        mat-raised-button
        [ngClass]="{ primary: element.switch == 1 }"
      >
        {{ element.switch == 1 ? 'TURN OFF' : 'TURN ON' }}
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="element.id">
          <span>Manage details</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <span>Deactivate</span>
        </button>
        <button mat-menu-item>
          <span>Delete controller</span>
        </button>
      </mat-menu>
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="expandedElement = expandedElement === element ? null : element; $event.stopPropagation()"
      >
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <pre>{{ element | json }}</pre>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
