<mat-card [formGroup]="form">
  <mat-card-title class="title-text"
    >Controller DETAILS
    <span>
      <mat-icon [ngClass]="citem.switch == 1 ? 'online' : 'offline'"
        >circle</mat-icon
      >
    </span>
  </mat-card-title>
  <mat-card-content>
    <div></div>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Title" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="customer">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of categories" [value]="cat">{{
          cat
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <!-- THRESHOLD FORM -->
    <h3>Switch setup: {{ this.form.get("category").value }}</h3>
    <ng-container
      formGroupName="items"
      *ngIf="this.form.get('category').value === 'thresholdswitch'"
    >
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="item_description" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Operation</mat-label>
        <!-- <input matInput formControlName="operation" /> -->
        <mat-select formControlName="operation">
          <mat-option value="greather than">greather than</mat-option>
          <mat-option value="less than">less than</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Datasource</mat-label>
        <input matInput formControlName="datasource" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Threshold limit</mat-label>
        <input matInput type="number" formControlName="threshold_limit" />
      </mat-form-field>
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-select formControlName="active">
        <mat-option [value]="false">false</mat-option>
        <mat-option [value]="true">true</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <div style="flex: 1 1 auto"></div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.pristine"
      (click)="updateController()"
    >
      UPDATE
    </button>
  </mat-card-actions>
</mat-card>
<pre>
  {{ form.value | json }}
</pre>
