<mat-card [formGroup]="form">
  <mat-card-title class="title-text"
    >Controller DETAILS
    <span>
      <mat-icon [ngClass]="citem.switch == 1 ? 'online' : 'offline'"
        >circle</mat-icon
      >
    </span>
  </mat-card-title>
  <mat-card-content>
    <div></div>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Title" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="customer">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let cat of categories" [value]="cat">{{
          cat
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
    <!-- THRESHOLD FORM -->
    <h3>Switch setup: {{ this.form.get("category").value }}</h3>
    <ng-container *ngIf="citem.category === 'thresholdswitch'">
      <ng-container
        formArrayName="items"
        *ngFor="let item of items.controls; let i = index"
      >
        <div [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="item_description" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Operation</mat-label>
            <mat-select formControlName="operation">
              <mat-option value="greather than">greather than</mat-option>
              <mat-option value="less than">less than</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Datasource</mat-label>
            <input matInput formControlName="datasource" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Threshold limit</mat-label>
            <input matInput type="number" formControlName="threshold_limit" />
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>

    <!-- TIMESWITCH FORM -->
    <ng-container *ngIf="citem.category === 'timeswitch'">
      <ng-container
        formArrayName="items"
        *ngFor="let item of items.controls; let i = index"
      >
        <div [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="item_description" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Time on</mat-label>
            <input matInput formControlName="time_on" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Time on</mat-label>
            <input matInput formControlName="time_off" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Duration</mat-label>
            <input matInput type="number" formControlName="duration" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Repeat</mat-label>
            <input matInput formControlName="repeat" />
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>
    <mat-form-field appearance="fill">
      <mat-label>Controller active</mat-label>
      <mat-select formControlName="active">
        <mat-option [value]="false">false</mat-option>
        <mat-option [value]="true">true</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <div style="flex: 1 1 auto"></div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.pristine"
      (click)="updateController()"
    >
      UPDATE
    </button>
  </mat-card-actions>
</mat-card>
<pre>
  {{ form.value | json }}
  {{ form.status }}
</pre>
