mat-form-field {
  padding-right: 10px;
}
.online {
  vertical-align: middle;
  // border-color: #1da086;
  // background-color: rgba(29, 160, 134, 0.8);
  color: rgba(29, 160, 134, 0.8);
}
.offline {
  vertical-align: middle;
  // border-color: #1da086;
  // background-color: rgba(29, 160, 134, 0.8);
  color: rgba(236, 81, 81, 0.8);
}
