.error {
  background-color: red;
  color: #000;
}
.ok {
  background-color: chartreuse;
}

.backgroundImage {
  // top: 0;
  background-image: url("../../../assets/img/background/simon_berger.jpg");
  height: calc(100vh - 64px);
  // width: 100wv;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bottom-right {
  position: fixed !important;
  right: 20px; /* Add this and change value to set the margin you want */
  bottom: 30px;
  z-index: 1;
}
