<div class="backgroundImage">
  <div fxLayoutAlign="center" style="padding-top: 20px">
    <mat-spinner *ngIf="loading; else show"></mat-spinner>
  </div>
  <ng-template #show>
    <div class="wrapper">
      <div *ngFor="let item of devices">
        <app-device-card [device]="item"></app-device-card>
      </div>
    </div>
  </ng-template>
</div>
<button mat-mini-fab color="primary" class="bottom-right" matTooltip="Add new device" (click)="newDeviceDialog()">
  <mat-icon>add</mat-icon>
</button>
