.full {
  min-height: calc(100vh - 96px);
}
.backgroundImage {
  background-image: url("../../../assets/img/background/pexels-katja-592077.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
