<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>IOT SENSORBOARD - {{ title }} </span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <a mat-menu-item *ngFor="let env of envButtons" [href]="env.url">
      <mat-icon>{{ env.icon }}</mat-icon>
      <span>{{ env.descr }}</span>
    </a>
  </mat-menu>
</mat-toolbar>
