<div class="wrapper mat-elevation-z8">
  <div class="flex-container">
    <div class="flex-child left">
      <mat-icon style="font-size: 55px">{{ icon }}</mat-icon>
      <br />
      <span class="small-text"> {{ time | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
    </div>
    <div class="flex-child right">
      Temperature
      <br />
      <span class="small-text">{{ label }}</span>
      <br /><br />
      <span class="large-text"> {{ value | number : '1.2-2' }} {{ unit }}</span>
    </div>
  </div>
</div>
