<div class="backgroundImage">
  <div style="padding: 20px">
    <div class="wrapper">
      <mat-spinner *ngIf="loading; else show"></mat-spinner>
      <ng-template #show>
        <mat-card fxFlex="20%" style="cursor: pointer" class="link" routerLink="/devices">
          <mat-card-header>
            <mat-card-title>
              <span class="title-text"> Devices</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="title-count"> {{ infoItems.sensors }} </span>
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex="20%" style="cursor: pointer" class="link" routerLink="/datasets">
          <mat-card-header>
            <mat-card-title>
              <span class="title-text"> Datasets </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="title-count"> {{ infoItems.datasets }} </span>
          </mat-card-content>
        </mat-card>

        <mat-card style="cursor: pointer" routerLink="/controllers" class="link">
          <mat-card-header>
            <mat-card-title>
              <span class="title-text"> Controllers </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span class="title-count"> {{ infoItems.controllers }} </span>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
  </div>
</div>
