.title-header {
  font-size: 35px;
  font-weight: 200;
}
.title-text {
  font-size: 20px;
  font-weight: 200;
}
.title-count {
  font-size: 20px;
  font-weight: 200;
}

.mat-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}
.backgroundImage {
  background-image: url("../../../assets/img/background/unnamed.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
